:root {
--primary-text-color: #434455;
--title-text-color: #2E2F42;
--background-color: #FFFFFF;
--second-text-color: #ffffff;
--accent-color: #e7e9fc;
--primary-brand-color: #4d5ae5;
--pressed-state-color: #404bbf;
--succes-color: #32d0aa;
--succes-color-green: #31d0aa;
--subtle-text-color: #8e8f99;
--light-color: #f4f4fd;
--modal-overlay-color: #2e2f42;
--hero-background-color: #2e2f42;
/* --list-portfolio-gap: 24px;
--number: 3;
--n: 0; */
}
body {
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    background-color: var(--background-color);
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.5;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.section {
    padding-top: 120px;
    padding-bottom: 120px;
}
.container {
    width: 1158px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
}
.list-advantage {
    display: flex;
    gap: 24px;
    justify-content: center;
}

/* .list-portfolio > .portfolio-cards {
    flex-basis: calc((100% - (var(--list-portfolio-gap) * var(--number -1))) / var(--number));
    margin-left: var(--list-portfolio-gap);
    margin-top: var(--list-portfolio-gap);
}  */
.list-doing {
    display: flex;
    justify-content: center;
    gap: 24px;
}
h1,
h2,
h3,
p {
margin-top: 0px;
margin-bottom: 0px;
}
ul {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
    flex-wrap: wrap;
} 
.page-header {
    background-color: var(--background-color);
    color: var(--title-text-color);
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-bottom: 1px solid var(--accent-color);
    margin: 0 auto;
}
.list {
    list-style: none;
}
.team.list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    text-align: center;
    justify-content: center;
}
.team-worker {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}
/* .team-worker {
    flex-basis: calc((100% - (24px * 3)) / 4);
} */
.nav-header .link {
    font-weight: 500;
    line-height: 1.5;
    text-decoration: none;
    color: var(--title-text-color);   
}
.logo-link,
.link-cards,
.link {
    text-decoration: none;
}
.link:hover,
.link:focus {
    color: var(--pressed-state-color);
}
.nav-header .link.current {
    color: var(--primary-brand-color);
}
.logo-link {
    color: var(--primary-brand-color);
    font-size: 18px;
    font-family: Raleway;
    font-weight: 800;
    line-height: 1.3;
    padding-top: 24px;
    padding-bottom: 24px;
}
.logo-dark {
    color: var(--title-text-color);
    font-size: 18px;
    font-family: Raleway;
    font-weight: 800;
    line-height: 1.3;
}
.nav-header {
    display: flex;
    color: var(--title-text-color);
    font-family: inherit;
    font-weight: 500;
    list-style: none;
    align-items: center;
}
.nav-header .item:not(:last-child) {
    margin-right: 40px;  
}
.nav-header.list {
    padding: 24px 0;
    margin-left: 76px;
}
.header-container {
    display: flex;
    align-items: center;
    height: 72px;
    justify-content: center;  
}
.list-address {
    display: flex;
    align-items: center;
    margin-left: 332px;
}
.item:not(:last-child) {
    margin-right: 40px;
}
.mail {
    font-family: inherit;
    font-style: normal;
    line-height: 1.5;
    text-decoration: none;
    color: var(--primary-text-color);
    padding: 24px 0; 
}
.phone-link {
    font-family: inherit;
    font-style: normal;
    line-height: 1.5;
    text-decoration: none;
    color: var(--primary-text-color);
    padding: 24px 0;
}
.hero-title {
    color: var(--second-text-color);
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
}
.hero {
    background-color: var(--title-text-color);
    margin: 0 auto;
    text-align: center;
    padding-top: 188px;
    padding-bottom: 188px;
    margin-top: 0px;
    
    background-image: linear-gradient(
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
    url("../images2/people-office\ 1.jpg");
    background-repeat: no-repeat;
    /* background-size: auto; */
    background-position: center;
    max-width: 1440px;      
}
.btn.hero-button {
    background-color: var(--primary-brand-color);
    color: var(--second-text-color);
    border: none;
    min-width: 169px;
    height: 56px;
    padding: 16px 32px;
    text-align: center;
    vertical-align: middle;
    margin-top: 48px;   
}
.btn.one:hover, 
.btn.one:focus {   
background-color: var(--pressed-state-color);
}
.section-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    padding-top: 0;
    margin-bottom: 72px;    
}
.section-doing {
    padding-top: 0px;
}
.text {
    width: 264px;
    margin-top: 16px;
    margin-right: 0px;
}
.section-team {
    background-color: var(--light-color);
    margin-bottom: 0px;
    padding-bottom: 120px; 
}
.team > li {
    background-color: var(--background-color);
}
.worker {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--title-text-color);
}
.worker-title {
    margin-top: 8px;
    margin-bottom: 8px;
    text-align: center;  
}
.list-title {
color: var(--title-text-color);
font-size: 20px;
font-weight: 500;
line-height: 1.2;
margin-top: 8px;
margin-bottom: 8px;
}

.feature-icon {
    display: flex;
    width: 264px;
    height: 112px;
    background-color: var(--light-color);
    padding: 24px 100px;
}
.team-content {
    padding: 32px 16px;
    width: 264px;
}
.section-customers {
    padding-top: 130px;
}
.list-customers {
    display: flex;
    gap: 24px;
    justify-content: center;    
}  
.customer-link {
    display: flex;
    fill: var(--subtle-text-color);
    justify-content: center;
    align-items: center;
    width: 168px;
    height: 88px;
    border: 1px solid var(--subtle-text-color);
    border-radius: 4px;
    padding: 16px 32px;
} 
.customer-link:hover,
.customer-link:focus {
    fill: var(--pressed-state-color);
    border: 1px solid var(--pressed-state-color);
}
.footer {
    background-color: var(--title-text-color);
    color: var(--accent-color);
    height: 310px;
    padding-top: 100px;
    padding-bottom: 100px;
    margin: 0 auto;
}
.wrapper {
    display: flex;
    gap: 120px;
}
.social-list {
    display: flex;
    gap: 16px;
    justify-content: center;
    margin-top: 16px;
}
.social-list_team {
    display: flex;
    gap: 24px;
    justify-content: center;
}  

.social-link {
    display: flex;
    width: 40px;
    height: 40px;
    background-color: var(--primary-brand-color);
    border-radius: 50%;
    padding: 12px;
    fill: var(--background-color);
}
.social-link:hover,
.social-link:focus {
    background-color: var(--pressed-state-color);
}
.social-link_footer {
    display: flex;
    width: 40px;
    height: 40px;
    background-color: var(--primary-text-color);
    border-radius: 50%;
    padding: 8px;
    fill: var(--background-color);  
}
.social-link_footer:hover,
.social-link_footer:focus {
    background-color: var(--succes-color-green);
}
/* portfolio */
.btn {    
    display: inline-block;
    background-color: var(--accent-color);
    color: var(--primary-brand-color);
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    border: 1px solid var(--accent-color);
    border-radius: 4px;
    letter-spacing: 0.04em;
    cursor: pointer;
    padding: 12px 24px;
}
.btn:hover,
.btn:focus {
    background-color: var(--pressed-state-color);
    color: var(--second-text-color);
}
.btn-list {
    display: flex;
    margin-bottom: 72px;
    justify-content: center;
    align-items: center;
}
.btn-list > .btn-item:not(:last-child) {
    margin-right: 24px;
}
.logo-link.bottom {
    color: var(--primary-brand-color);
    font-size: 18px;
    font-family: Raleway;
    font-weight: 800;
    line-height: 1.3;
    padding: 0;   
}
.logo-light {
    color: var(--second-text-color);
    font-size: 18px;
    font-family: Raleway;
    font-weight: 800;
    line-height: 1.3;
}
.apps {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
color: var(--title-text-color);
}
.img-title {
    margin-top: 8px;
}
.portfolio-section {
    padding-top: 96px;
    padding-bottom: 120px;
}
.link-content {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
    border: 1px solid var(--accent-color);
    border-top: none;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.list-portfolio {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.link-cards {
    display: block;
    width: 360px;
    height: 420px;
} 
.link-cards:hover,
.link-cards:focus {
    border: 0.5px solid var(--accent-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}